<h1>Shops index</h1>
  
  <p>List of shops associated to the Database. <span><%= link_to 'New', :new_shop %></span>
</p>
  
  <% @shops.each do |shop| %>
    <span>Name of the Shop: <%= shop.name %></span>
    <span>Post Code: <%= shop.post_code %></span>
    <span><%= link_to 'Show', shop %></span>
  <% end %>