<h1>List of shops associated to the Database</h1>
<p><%= link_to 'New shop?', :new_shop, :class => "section" %></p>
<div class="linethick"></div>

  
<% @shops.each do |shop| %>
  <div>
    <span>Name of the Shop: <%= shop.name %></span>
    <span>Post Code: <%= shop.post_code %></span>
  </div>
  <span class="right"><%= link_to 'Show', shop %></span>
  <div class="linethin"></div>
<% end %>