<h2>This is Home</h2>
  <nav>
    <ul>
      <li><%= link_to 'Buyers', 'buyers' %></li>
      <li><%= link_to 'Items', 'items' %></li>
      <li><%= link_to 'Shops', 'shops' %></li>     
    </ul>
  </nav>