<h2>Select one of the tables you want to work with</h2>
  <div id="nav">
    <ul>
      <li><%= link_to 'Buyers', 'buyers', :class => "home" %></li>
      <li><%= link_to 'Items', 'items', :class => "home" %></li>
      <li><%= link_to 'Shops', 'shops', :class => "home" %></li>     
    </ul>
  </div>