<h1>Items index</h1>

<p>List of items in the Database</p>
<p><%= link_to 'New', :new_item %></p>


  <% @items.each do |item| %>
    <span>Product: <%= item.name %></span>
    <span>Brand: <%= item.brand %></span>
    <span><%= link_to 'Show', item %></span>
  <% end %>